@model DevIO.App.Models.MateriaPrimaEstoqueViewModel.MateriaPrimaEstoqueViewModel

@{
    ViewData["Title"] = $"Remover a matéria prima {Model.Nome}";
}

<h4>@ViewData["Title"]</h4>
<h4>Tem certeza que deseja remover essa matéria prima?</h4>
<hr />

<div>
    <h4>MateriaPrimaEstoque</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deletar" class="btn btn-danger" />
        <a class="btn btn-warning" asp-action="Index">Voltar</a>
    </form>
</div>
