@model DevIO.App.Models.MateriaPrimaEstoqueViewModel.MateriaPrimaEstoqueViewModel

@{
    ViewData["Title"] = $"Detalhe do produto {Model.Nome}";
}

<h4>@ViewData["Title"]</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <img src="~/images/materia-prima/@Model.Imagem" alt="@Model.Imagem" style="width:300px; height: 428px;" />
    </div>
    <div class="col-md-6">
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Descricao)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Quantidade)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Quantidade)
            </dd>
        </dl>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
            <a asp-action="Index" class="btn btn-warning">Voltar</a>
        </div>
    </div>
</div>
