@model IEnumerable<DevIO.App.Models.MateriaPrimaEstoqueViewModel.MateriaPrimaEstoqueViewModel>

@{
    ViewData["Title"] = "Listagem de Matérias Primas";
}

<h4>@ViewData["Title"]</h4>
<hr />
<p>
    <a class="btn btn-primary" asp-action="Create">Adicionar</a>
</p>
<vc:summary></vc:summary>
<table class="table table-hover table-striped">
    <thead>
        <tr class="thead-dark">
            <th></th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Quantidade</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/images/materia-prima/@item.Imagem" alt="@item.Imagem" style="width:70px; height: 100px;">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantidade)
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-search"></i></a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
